<html>

<head>
	<style>
		body {
			opacity: 0.8;
			font-size: larger;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			padding: 2rem;
		}
	</style>
</head>

<body>
	<div>
		<header>
			<span>
				Olá
				<strong>
					<%= user.name %>!
				</strong>
			</span>
		</header>
		<br />
		<main>
			<p>Recebemos o seu pedido de <strong>recuperação de cadastro</strong>!</p>
			<p>Clique no linque abaixo para recuperar o seu cadastro.</p>
			<a href="http://localhost:3000/signup/recover/<%= user.recoveryToken %>">
				http://localhost:3000/signup/recover/<%= user.recoveryToken %>
			</a>
			<p>Caso não tenha conhecimento desse email, ignore-o.</p>
		</main>
		<br />
		<footer>
			<span>
				Cordialmente, <br />
				<strong>ContactsPro</strong>
			</span>
		</footer>
	</div>
</body>

</html>